<section class="about" id="about">

    <div class="about-image">

        <!-- <img src="https://images.unsplash.com/photo-1584515933487-779824d29309?w=900"
             alt="Blood Donation"> -->

    </div>

    <div class="about-content">

        <span class="section-title">
            About BloodBridge
        </span>

        <h2 style="color: red;">
            Together We Can Save Thousands of Lives
        </h2>

        <p style="color: white;">

            BloodBridge is a smart blood donation management platform
            that connects <br>voluntary donors with hospitals efficiently.
            Our mission is to simplify blood<br> donation while ensuring
            safe, secure, and transparent management.

        </p>

        <div class="about-list">

            <div class="item">

                ❤️ Safe Blood Donation

            </div>

            <div class="item">

                👨‍⚕️ Verified Doctors

            </div>

            <div class="item">

                🏥 Trusted Hospitals

            </div>

            <div class="item">

                ⚡ Quick Registration

            </div>

        </div>

        
    </div>

</section>