<section class="hero"
style="
    background-image: url('https://media.istockphoto.com/id/1478028426/vector/blood-drop-world-blood-donors-day-concept-banner-template-with-glowing-low-poly-futuristic.jpg?s=612x612&w=0&k=20&c=YBgHYEgX4PH4MftbnDz2MBHCPA1cu7WkgxhC4mxiXVc=');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
">
    <div class="hero-overlay">

        <div class="hero-content">
            <br><br><br><br>
            <span class="tagline">
                ❤️ Every Drop Saves Lives
            </span>

            <h1>
                Donate Blood,<br>
                Save Lives
            </h1>

            <p>
                Join BloodBridge and become a lifesaver.
                Your donation can help patients during surgeries,
                emergencies, and critical treatments.
            </p>

            <div class="hero-buttons">

                <a href="/donor/register/" class="primary-btn">
                    Become a Donor
                </a>

                <a href="#about" class="secondary-btn">
                    Learn More
                </a>

            </div>

            <div class="scroll-indicator">

                <span></span>

                <p>Scroll Down</p>

            </div>

        </div>

    </div>

</section>