<header class="navbar">

    <div class="logo">
        🩸 BloodBridge
    </div>

    <nav>
        <ul>

            <li>
                <a href="/">Home</a>
            </li>

            <li><a href="#about">Learn More</a></li>
            <li>
                <a href="/donor/register/">Become a Donor</a>
            </li>

            <li>
                <a href="{% url 'doctor_login' %}">Doctor Login</a>
            </li>

            <li>
                <a href="#contact">Contact</a>
            </li>

        </ul>
    </nav>

</header>