{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}BloodBridge{% endblock %}</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/doctor_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/total_donors.css' %}">
    <link rel="stylesheet" href="{% static 'css/doctor_login.css' %}">
    <link rel="stylesheet" href="{% static 'css/donor_details.css' %}">
</head>

<body>

    {% block content %}
    {% endblock %}

    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script>
document.addEventListener("DOMContentLoaded", function () {

    const messages = document.querySelectorAll(".message");

    if (messages.length > 0) {

        setTimeout(function () {

            messages.forEach(function (msg) {

                msg.style.transition = "opacity 0.5s";
                msg.style.opacity = "0";

                setTimeout(() => {
                    msg.remove();
                }, 500);

            });

        }, 5000);

    }

});
</script>

</body>

</html>